@font-face {
    font-family: dancingscript;
    src: url("../ttf/DancingScript-VariableFont_wght.ttf");
}

body {
    margin: 0;
    /*font-family: dancingscript;*/
    border: 1rem double #E396DF;
	padding : 7px;
	background-color: #fff0ff;
}


html, body {
    overflow: hidden; /* This prevents the page from scrolling */
    height: 100%; /* Make sure the height is set to 100% */
    margin: 0; /* Remove default margins */
}

@media screen and (max-width: 500px) {
    body {
        zoom: 122%;
        /*font-size: 2.2vw;*/
    }
}

@media  screen and (min-width: 1400px) and (max-width: 5000px) {  /*screen and (max-width: 4000x) {*/
    body {
        zoom: 100%;
        font-size: 1.8vw;
    }
}
p {
    font-family: dancingscript;
    line-height: 1; /* need to be fixed for phone */ /*1?*/
}

.naviguation_bare {
    font-family: dancingscript;
}

.welcome_container{
    padding-top: 17px;
    padding-left : 40px;
    padding-right: 40px;
}

.welcome_area{
    visibility: visible; /*it's just to put something */
    /*font-size: 27px;*/
    /*font-size: 1.8vw;*/ /* THIS A TEST IF THERE IS SOMETHING WRONG ITS BECAUSE OF THIS IM GIONG TO GIT PUSH ANYWAYYYYYYYYYYYYY */
} 
