@font-face {
    font-family: dancingscript;
    src: url("../ttf/DancingScript-VariableFont_wght.ttf");
}

body {
    margin: 0;
    font-family: dancingscript;
    border: 1rem double #E396DF;
	padding : 7px;
	background-color: #fff0ff;
}

/* Literally my "how to make something responsive" CSS skills start */
/* css is cute tbh */
/* :3 */
/* im tired */
@media screen and (max-width: 800px) {
    body {
        zoom: 100%;
    }
}

@media screen and (max-width: 600px) {
    body {
        zoom: 100%;
    }
}

@media screen and (max-width: 400px) {
    body {
        zoom: 61%;
    }
}
/* Literally my "how to make something responsive" CSS skills end */
