@font-face {
    font-family: dancingscript;
    src: url("kawaiimoeworld.github.io/ttf/DancingScript-VariableFont_wght.ttf");
}

body {
    margin: 0;
    font-family: dancingscript;
    border: 1rem double #E396DF;
	padding : 7px;
	background-color: #fff0ff;
}

